body {
}

#header {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 9999;
  width: 100%;
  height: 64px;
  background: #3949AB;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.container {
  margin-top: 64px;
  padding-top: 24px;
  padding-left: 12%;
  width: 100%;
  height: auto;
  left: 0px;
  top: 0px;
  align-items: stretch;
  clear: both;
  background: #fff;
  overflow: scroll;
  font-family: 'Raleway', sans-serif;
  color: #555;
  font-weight: lighter;
  font-size: 20px;
}

.headerlink {
  float: left;
  text-align: center;
  vertical-align: middle;
  height: calc(100% - 4px);
  padding: 0 24px;
  line-height: 64px;
  text-align: center;
  color: white;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

#contact {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  line-height: 76px;
  text-align: center;
  right: 36px;
  bottom: 24px;
  background: #FF5252;
  border-radius: 50%;
  color: white;
  width: 64px;
  height: 64px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s ease;
  cursor: default;
}

#contact:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 8px;
  width: 180px;
  height: 180px;
  background: #7C4DFF;
  line-height: 48px;
}

#contact:hover > #contactcontent{
  visibility: visible;
  transition: all 0s;
}

#contactcontent {
  visibility: hidden;
  line-height: normal;
  transition: all 0s;
  cursor: default;
}
